/* You can add global styles to this file, and also import other style files */

$accent: #f57f17;

// Dark theme
$dark-bg: #19191A;
$dark-surface: #303031;

html, body { height: 100%; }
body { background-color: $dark-bg; color: white; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Z-depth shadows
.hoverable {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.hoverable:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
}

.spy {
  background-color: red;
}


.rounded {
  border-radius: 16px;
}

.rmpm {
  margin: 0;
  padding: 0;
}

.dark-bg {
  background-color: $dark-bg !important;
  color: #fff;
}

.dark-bg-surface {
  background-color: $dark-surface;
  color: #fff;
}

.color-accent {
  color: $accent;
}

.bg-accent {
  background-color: $accent;
}

input:focus + label {
  color: $accent !important;
}

input:focus {
  border-bottom: 1px solid $accent !important;
  box-shadow: 0 1px 0 0 $accent !important;
}

input:focus + label.dark-bg-surface {
  color: #fff !important;
}

label.dark-bg-surface {
  color: #fff !important;
}

input.dark-bg-surface:focus {
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}
