<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg elegant-semi-dark-bg" [containerInside]="false">
  <div class="container">
  <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand text-white" href="#">FakeDiscounts</a></mdb-navbar-brand>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-4 active px-2">
        <a class="nav-link waves-light text-white" mdbWavesEffect> About <span class="sr-only">(current)</span></a>
      </li>
      <!--
      <li class="nav-item mr-lg-4">
        <a href="https://github.com/maciejows/ultra-price-tracker" class="nav-link waves-light text-white" mdbWavesEffect><mdb-icon fab icon="github"></mdb-icon> Github </a>
      </li>
      -->
    </ul>
    <!-- Links -->
  </div>
</mdb-navbar>
<!--/.Navbar-->
