<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg dark-bg-surface" [containerInside]="false">
  <div class="container">
  <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand text-white" href="#">Price tracker</a></mdb-navbar-brand>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-4 active px-2">
        <a class="nav-link waves-light text-white" mdbWavesEffect href="https://github.com/maciejows/ultra-price-tracker" target="_blank"> <mdb-icon fab icon="github" size="lg"></mdb-icon></a>
      </li>
    </ul>
    <!-- Links -->
  </div>
</mdb-navbar>
<!--/.Navbar-->
