<div class="container-fluid">
  <div class="container">
    <form #itemSearchForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center ">
        <div class="col-12 mt-5">
          <h3 class="text-center"> Check item prices on multiple websites </h3>
        </div>
        <div class="col-10 col-md-8 col-lg-6 col-xl-4 rmpm mt-3">
          <div class="md-form">
            <input mdbInput aria-label="Text input for item id" type="text" id="itemName" name="itemName" class="form-control dark-bg-surface"
            [(ngModel)]="itemName" #name="ngModel" required>
            <label for="itemName">Item name</label>
          </div>
        </div>
        <div class="col-8 col-lg-1 my-auto text-center">
          <button mdbBtn mdbWavesEffect size="md" class="btn bg-accent text-white" type="submit" [disabled]="!itemSearchForm.form.valid">  Search </button>
        </div>
      </div>
    </form>
  </div>
</div>
