<div class="container mt-3">
  <div *ngFor="let _ of [1,2,3]" class="row justify-content-center mb-3"> <!-- TODO: Change for real items-->
      <div class="col-11 col-md-10 col-lg-8 col-xl-6 dark-bg-surface hoverable rounded p-2">
        <div class="row">
          <div class="col-2 my-auto"> <!-- Image -->
            <img src="https://via.placeholder.com/75" class="img-fluid rounded-circle" alt="Responsive image">
          </div>
          <div class="col-7 my-auto"> <!-- Product name -->
            <h3>{{item.name}}</h3>
          </div>
          <div class="col-3 my-auto"> <!-- Price -->
            {{item.price | number:'1.0-0'}} PLN
          </div>
        </div>
      </div>
  </div>
  <div class="row justify-content-center">
    <div *ngIf="!item" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <!-- TODO: Check if found
    <div *ngIf="items?.length === 0" class="col-12 text-center">
      <h5> Nie znaleziono ofert spełniających wymagania </h5>
    </div>
    -->
  </div>
</div>

